<h1>Contact Page</h1>

<form>
  <div class="input-group">
    Name:
    <label for="">
      <input
        type="text"
        name="name"
        [(ngModel)]="formData.name"
        (keyup)="validateName()"
        (blur)="validateName()"
        #name="ngModel"
        #nameInput
      />

      <div class="error" *ngIf="errors.name && name.touched">
        {{ errors.name }}
      </div>
    </label>
  </div>

  <div class="input-group">
    Email:
    <label for="email">
      <input
        type="text"
        name="email"
        [(ngModel)]="formData.email"
        (keyup)="validateEmail()"
        (blur)="validateEmail()"
        #email="ngModel"
      />
      <div class="error" *ngIf="errors.email && email.touched">
        {{ errors.email }}
      </div>
    </label>
  </div>

  <button class="btn" [disabled]="!nameValid || !emailValid" (click)="submit()">
    Submit
  </button>
</form>

{{ formData.name | uppercase }}
<br />
{{ formData.email }}
<br />
<!-- {{ nameValid }} -->
<br />
{{ "touched:" + email.touched }}<br />
{{ "untouched:" + email.untouched }}<br />
{{ "pristine:" + email.pristine }}<br />
{{ "dirty:" + email.dirty }}
